[submodule "spdk/intel-ipsec-mb"]
	path = spdk/intel-ipsec-mb
	url = https://github.com/spdk/intel-ipsec-mb.git
[submodule "spdk/dpdk"]
	path = spdk/dpdk
	url = https://github.com/dpdk/dpdk.git
[submodule "spdk/isa-l"]
	path = spdk/isa-l
	url = https://github.com/spdk/isa-l.git
[submodule "spdk/ocf"]
	path = spdk/ocf
	url = https://github.com/Open-CAS/ocf.git
[submodule "spdk/libvfio-user"]
	path = spdk/libvfio-user
	url = https://github.com/nutanix/libvfio-user.git
[submodule "spdk/xnvme"]
	path = spdk/xnvme
	url = https://github.com/xnvme/xnvme.git
[submodule "spdk/isa-l-crypto"]
	path = spdk/isa-l-crypto
	url = https://github.com/intel/isa-l_crypto
